#collection-5746db4c9f7266e08f9b2bd0 #parallax-images .image-container {
	position: static
}
#collection-5746db4c9f7266e08f9b2bd0 .title-desc-wrapper .title-desc-inner[data-collection-id="5746db4c9f7266e08f9b2bd0"] {
	padding: 0;
}

#home-top-buttons {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
}

#home-top-buttons a {
	margin: 10px 20px;
	background-color: #000
}

/*
h1.page-title, h1, .main-nav ul li a span, .secondary-nav ul li a span, h2, h3, p, .page-desc p, .page-desc p strong, .sqs-block-summary-v2 .summary-title, label, body:not(.button-style-default) input.button.sqs-editable-button, .extra-description-formatting .page-desc p:last-child>a {
	*/